<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon Create Page</title>
</head>
<body>
  <h1>Pokemon Create Page</h1>
  <form action="/pokemon" method="POST">
    Name: <input type="text" name="name"><br/>
    Image: <input type="text" name="img"><br/><br/>
    <button type="submit">Create Pokemon</button>
  </form>
</body>
</html>