<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Index Page</title>
    <style type="text/css">
      @font-face {
        font-family: "Pokemon GB";
        src: url('../fonts/pokemon-gb/pokemon_gb-webfont.woff2') format('woff2'),
          url('../fonts/pokemon-gb/pokemon_gb-webfont.woff') format('woff'),
          url('../fonts/pokemon-gb/pokemon_gb.ttf') format("truetype");
        font-weight: normal;
        font-style: normal;
      }
      h1 {
        font-family: "Pokemon GB";
        text-decoration: underline;
      }
    </style>
</head>
<body>
    <h1>Pokemon Index Page</h1>
    <ul class="pokemon">
    <% for(let i = 0; i < pokemon.length; i++){ %>
    <li><a href="/pokemon/<%= i %>" class="a-pokemon"><%= pokemon[i].name %></a></li>
    <% } %>
    </ul>
</body>
</html>