<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon Create Page</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Pokemon Create Page</h1>
  <form action="/pokemon" method="POST">
    <img src= <%= "../images/Ash.png" %> >
    <h2> Name: <input type="text" name="name"></h2>
    <h2> Image: <input type="text" name="img"></h2>
    <button class="shift" type="submit">Create Pokemon</button>
  </form>
</body>
</html>