<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon Show Page</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Pokemon Show Page</h1>
  <img src= "<%= pokemon.img %>" > 
  <h2><%= pokemon.name %>! I Choose You!</h2>
  <form action="/pokemon/<%= id %>?_method=DELETE" method="POST">
    <button class="shift" type="submit">Delete</button>
  </form>
  <form action = "/pokemon/<%= id %>/edit">
    <button class="shift" type="submit">Edit</button>
  </form>
</body>
</html>
