<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Show Page</title>
</head>
<body>
  <h1>Pokemon Show Page</h1>
  <h2>The <%= aPokemon.name %> image is:</h2>
    <img src= <%= aPokemon.img %> > 
</body>
</html>
