<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Show Page</title>
    <style type="text/css">
      @font-face {
        font-family: "Pokemon GB";
        src: url('../fonts/pokemon-gb/pokemon_gb-webfont.woff2') format('woff2'),
          url('../fonts/pokemon-gb/pokemon_gb-webfont.woff') format('woff'),
          url('../fonts/pokemon-gb/pokemon_gb.ttf') format("truetype");
        font-weight: normal;
        font-style: normal;
      }
      h1 {
        font-family: "Pokemon GB";
        text-decoration: underline;
      }
    </style>
</head>
<body>
  <h1>Pokemon Show Page</h1>
  <h2>The <%= aPokemon.name %> image is:</h2>
    <img src= <%= aPokemon.img %> > 
</body>
</html>
